h1 {
    text-align: center;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(245, 96, 208);
    border: 3px solid rgb(252, 115, 115);
    border-radius: 2em;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}